#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  cursor: default;
}

@font-face {
  font-family: mija;
  src: url('public/Fonts/mija.ttf');
}
@font-face {
  font-family: sanandreas;
  src: url('public/Fonts/SANANDREAS.otf');
}

.container {
  color: black;
  font-family: mija;
  font-size: 3vmin;
}

.btn {
  font-family: monospace;
  font-weight: bold;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-cyan{
  font-weight: bold;
  color: rgb(242, 57, 10);
}
.blue{
  color: rgb(15, 149, 161);
  font-weight: bolder;
  font-family: sans-serif;
}
.red{
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}
.yellow{
  color: orange;
  font-weight: bold;
  font-family: sans-serif;
}
.green{
  color: rgb(21, 144, 62);
  font-weight: bold;
  font-family: sans-serif;
}


.card {
  padding: 2em;
}

.credits a {
  color: black;
  font-weight: bolder;
  transition: all 1s;
}


.credits a:hover {
  color: rgb(31, 123, 228);
}

.heart{
  transition: 1s;
}

.heart:hover{
  filter: drop-shadow(0 0 5px red);
}