#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  color: white;
  font-family: monospace;
  font-weight: 500;
}

.btn {
  font-weight: bold;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.credits a {
  color: white;
  font-weight: bolder;
  transition: all 1s;
}


.credits a:hover {
  color: lime;
}
